<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Add page</title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/myStyle.css">
    <link href="/css/sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <%- include('./components/icons.ejs') %>

    <main class="d-flex flex-nowrap">

      <%- include('./components/sidebar.ejs', {current_page: "edit"}) %>

      <section class="w-100" style="overflow: auto;">
        <%- include('./components/navbar.ejs') %>

        <section class="body w-100 p-5">
            <form action="/update/<%= user._id %>?_method=PUT"  method="post" class="row g-4">
                <div class="col-md-6">
                  <label for="inputFirst" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="inputFirst" placeholder="Ali.." name="firstName" value="<%= user.firstName %>">
                </div>
                <div class="col-md-6">
                  <label for="inputLast" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="inputLast" placeholder="Hassan..." name="lastName" value="<%= user.lastName %>">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="ali@gmail.com" name="email" value="<%= user.email %>">
                  </div>
                <div class="col-md-6">
                    <label for="inputTel" class="form-label">Telephone</label>
                    <input type="text" class="form-control" id="inputTel" placeholder="06451215482" name="telephone" value="<%= user.telephone %>">
                </div>
                <div class="col-md-6">
                  <label for="inputAge" class="form-label">Age</label>
                  <input type="text" class="form-control" id="inputAge" placeholder="Your age..." name="age" value="<%= user.age %>">
                </div>
               
   
                <div style="width: 98%;">
                    <div class="col-md-6">
                        <label for="inputGender" class="form-label">Gender</label>
                        <select id="inputGender" class="form-select" name="gender">
                            <option selected hidden disabled>Choose here...</option>
                            <option <%= user.gender ==="Male" ? "selected" : null %>>Male</option>
                            <option <%= user.gender ==="Female" ? "selected" : null %>>Female</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="inputCountry" class="form-label">Country</label>
                    <select id="inputCountry" class="form-select" name="country" value="<%= user.country %>">
                      <option selected hidden disabled>Choose here...</option>
                      <% const country_list = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
 %>
                      <% country_list.forEach(country => { %>
                          <option <%= user.country === country ? "selected" : null %>><%= country %></option>
                      <% }) %>
                      
                      
                    </select>
                </div>
                
                <div class="pt-3">
                  <button type="submit" class="btn btn-primary me-2">Update</button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                </div>
            </form>

              <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete cutomer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to delete this customer
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/update/<%= user._id %>?_method=DELETE" method="post" class="d-inline">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </section>
      </section>

    </main>
    
    <script src="/js/main.js"></script>
    <script src="/js/color-modes.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sidebars.js"></script>
  </body>
</html>
